<%= link_to "Create a Project", new_project_path %>

<% if @projects.count > 0 %>
  <h1> There are <%= @projects.count %> projects </h1>

  <ul>
    <%= render :partial => @projects %>
  </ul>
<% else %>
  <h3> There are no projects! </h3>
<% end %>
